.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 400px;
  margin: 0 auto;
}

nav ul li {
  text-align: left;
  margin-top: 1em;
}